@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;500;600;700;800;900&display=swap');

@font-face {
  font-family: "Japanese";
  src: url("./fonts/gunji.ttf");
  /* src: url(./font/chineese.ttf); */
  /* src: url(./font/Japanese.ttf); */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #EBD5B8;
  --seconderyColor: #CC402E;
  --commonColor: white;
  --fontHead: 60px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'League Spartan',
    sans-serif;
  transition: 0.3s ease-in-out;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

hr {
  color: #EBD5B8;
  background: #EBD5B8;
  height: 2px;
  border: none;
}

/* Header Start */
header {
  background-color: var(--primaryColor);
  color: var(--seconderyColor);
  height: 100vh;
}

h1 {
  padding-bottom: 20px;
}

/* Navbar Start */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.logo {
  text-transform: uppercase;
  width: 100px;
  color: var(--seconderyColor);
  font-family: "Japanese";
}

.logo img {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 84%;
}

.navbar a {
  color: var(--seconderyColor);

}

.nav__items {
  display: flex;
  width: 550px;
  justify-content: space-evenly;
  font-family: "Japanese";
}

.list__item {
  font-size: 18px;
  font-weight: 600;
}

.social__media {
  display: flex;
  width: 105px;
  justify-content: space-around;
  align-items: center;
  padding-top: 7px;
}

.social__media .icon {
  font-size: 24px;
  color: var(--seconderyColor);
}

.icon img {
  width: 24px;
  cursor: pointer;
}

#opensea {
  opacity: 0.6;
  cursor: no-drop;
}



/* .button {} */

.button button {
  border: none;
  /* padding: 10px 20px; */
  padding-top: 5px;
  font-size: 18px;
  height: 42px;
  border-radius: 20px;
  background-color: var(--seconderyColor);
  font-family: 'League Spartan';
  color: var(--primaryColor);
  width: 110px;
  opacity: 0.5;

}

.bar {
  width: 30px;
  height: 5px;
  background-color: #EBD5B8;
  margin-top: 3px;
  border-radius: 5px;
}

.bars {
  display: none;
}

.mobile__icon {
  display: none;
}

.mobile__navbar {
  display: none;
}

/* Navbar End */

/* Hero Section Start */
.hero__section {
  max-height: 578px;
  padding-top: 70px;
}

.top__section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Japanese";
  width: 95%;
  margin: auto;
}


.top__section img {
  display: block;
  width: 70%;
  margin: auto;
}

.right__text {
  width: 15%;
  font-size: 40px;
}

.left__text {
  width: 15%;
  font-size: 40px;

}

.button__mobile {
  display: none;
}

.bottom__text {
  text-align: center;
  margin: auto;
  padding-top: 70px;
  width: 45%;
  line-height: 22px;
  font-weight: 400;
  /* padding-right: 40px; */
}

.bottom__text p {
  font-size: 18px;
}

.border {
  background-color: var(--seconderyColor);
  width: 70px;
  height: 2px;
  margin: 10px auto;
}

/* Header End */

/* Story Section Start */
.story {
  background-color: var(--seconderyColor);
  color: #EBD5B8;
}

.story__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  width: 705px;
  text-align: justify;
  color: #EBD5B8;
}

.story__details img {
  width: 260px;
  height: 100%;
}

.story__title {
  font-size: var(--fontHead);
  font-family: "Japanese";
  font-weight: 500
}

.story p {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

/* Story Section End */

/* Team Section Start */
.team {
  background-color: var(--primaryColor);
  color: var(--seconderyColor);
}

.team__title {
  font-size: var(--fontHead);
  text-transform: uppercase;
  font-family: "Japanese";
  font-weight: 500;
}

.team__membar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.team__membar img {
  width: 270px;
  padding: 20px;
}

/* Team Section End */

.details {
  background-color: var(--seconderyColor);
  color: #EBD5B8;
  padding-top: 30px;
  padding-bottom: 0;
}

.all__details {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.details__item {
  padding: 40px 0;
}

/* Team Section End */

/* Faq Design Start */
/* .faq {
        background-color: #E4C59C;
} */

.faq__faq {
  background-color: #EBD5B8;
  color: var(--seconderyColor);
  margin: auto;
  padding: 30px 0;
}

.faq__faq .team__title {
  max-width: 1100px;
  margin: auto;
}

.faq__scroll {
  background-color: #E4C59C;
}

.accordion {
  padding: 10px;
  margin: auto;
}

.accordion .accordion-item {
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  padding: 15px 0;
  margin: 0 30px;
  border-radius: 10px;
}

.accordion .accordion-item button[aria-expanded=true] {
  /*   border-bottom: 1px solid #03b5d2; */
}

.number {
  /* font-size: 35px;
        padding: 20px; */
}

.accordion h2 {
  position: relative;
  display: block;
  text-align: left;
  width: 90%;
  color: var(--seconderyColor);
  font-size: 25px;
  font-weight: 400;
  margin: auto;
  padding: 20px;
}

.accordion h2:hover,
.accordion h2:focus {
  cursor: pointer;
  /* color: #03b5d2; */
}

.accordion h2:hover::after,
.accordion h2:focus::after {
  cursor: pointer;
  color: var(--primaryColor);
  /* border: 1px solid #03b5d2; */
  background-color: var(--seconderyColor);
}

.accordion h2 .accordion-title {
  padding: 1em 1.5em 1em 30px;
  text-align: left;
}

.accordion h2 .icon {
  display: inline-block;
  position: absolute;
  top: -8px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
  margin: 30px;
}

.faq-content {
  padding: 80px 0px;
}

.accordion h2 .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px !important;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion h2 .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion h2[aria-expanded=true] {
  color: var(--primaryColor);
  background-color: var(--seconderyColor);
  padding: 30px 30px 0px 30px;
}

.accordion h2[aria-expanded=true] .icon::after {
  width: 0;
}

.accordion h2[aria-expanded=true]+.accordion-content {
  opacity: 1;
  max-height: 5000px;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
  background-color: var(--seconderyColor);
  color: var(--primaryColor);
  padding: 10px 90px;
  width: 90%;
  margin: auto;
}

.accordion .accordion-content p {
  font-size: 20px;
  font-weight: 300;
  margin: 0px;
  /* margin-top: 10px; */
  line-height: 30px;
  margin-left: -15px;

}

/* Faq Design End */

/* Footer Start */

.footer {
  height: 75px;
  background-color: var(--seconderyColor);
  text-align: center;
  color: #EBD5B8;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Mobile Responsiveness */
@media only screen and (max-width: 1100px) {
  .container {
    max-width: 90%;
  }

  .faq__faq .team__title {
    max-width: 90%;
  }
}

@media only screen and (max-width: 950px) {

  .hero__section {
    padding-top: 100px;
  }

  .top__section {
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  /* 
        .top__section img {
                display: block;
                width: 250px;
                margin: auto;
        } */

  .right__text {
    width: 100%;
    margin-top: 42px;
  }

  .left__text {
    width: 100%;
  }

  .story__details {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .story__details .text {
    padding-top: 30px;
    width: 90%;
  }

  .all__details {
    flex-wrap: wrap;
    text-align: center;
  }

  .details__item {
    padding: 20px 0;
    width: 300px;
    margin: auto;
  }

  .accordion h2 {
    width: 100%;
    position: relative;
  }

  .accordion .accordion-content {
    padding: 10px 60px;
    width: 100% !important;
  }

  .accordion h2 .accordion-title {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 10px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 45px;
    bottom: 0;
    z-index: 1;
  }

  .accordion-content p {
    padding-top: 30px;
  }

  .number {
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .accordion h2 .icon {
    z-index: 1;
    top: -17px;
    right: -20px;
  }

  /* .accordion h2 .icon {
        display: inline-block;
        position: absolute;
       
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
        margin: 30px;
} */


  .story__title {
    text-align: center;
  }



  .team__title {
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  hr {
    margin-top: 25px;
  }

}

@media only screen and (max-width: 800px) {

  header {
    height: 100%;
    padding-bottom: 150px;
  }

  .bars {
    display: block;
    cursor: pointer;
    z-index: 1000;
  }

  nav .logo {
    display: none
  }

  nav {
    padding: 0;
    height: 0;
  }

  header .container {
    max-width: 100% !important;
    padding-top: 0;
  }

  .button__mobile {
    text-align: center;
    display: block;
    margin-top: 20px;
  }

  .button__mobile button {
    border: none;
    padding-top: 5px;
    font-size: 18px;
    height: 42px;
    border-radius: 20px;
    background-color: var(--seconderyColor);
    font-family: 'League Spartan';
    color: var(--primaryColor);
    width: 110px;
    font-weight: 600;
    opacity: 0.5;
  }


  .mobile__navbar {
    display: flex;
    background-color: #CC402E;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  }


  .navbar {
    display: none;
  }

  .active__navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 74px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--seconderyColor);
    height: 100vh;
  }

  .active__navbar .mobile__icon {
    display: block;
  }

  .active__navbar .mobile__icon img {
    width: 40px;
  }

  .active__navbar a {
    color: #E4C59C;
    font-size: 40px;
    font-weight: 100;
  }

  .active__navbar .nav__items {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 90%;
  }

  .list__item {
    padding: 10px;
  }

  .social__media {
    display: none;
  }

  .button {
    display: none;
  }

  .top__section {
    font-size: 20px;
  }

  .bottom__text {
    display: none;
  }

  .story__title {
    text-align: center;
  }

  .team__title {
    text-align: center;
  }

  h1 {
    text-align: center;
  }


}